# Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Environment files
.env*

# Build outputs
dist/
build/
coverage/
*.tsbuildinfo

# Logs
logs/
*.log

# Husky
.husky/_/

# Prettier
.prettiercache

# VSCode
.vscode/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
